.experience--title{
    position: fixed;
    width: 100%;
    font-family: 'Pacifico', cursive;
    top:8rem;
    font-size: 5rem;
    z-index: 1;
    animation: fade-in 1s;
    color: rgb(52, 1, 87)
}

.experience--card:hover{
    cursor: pointer;
    box-shadow: 10px 5px 5px #c0c0c0;
    transform: translateY(-1rem);
}

.experience--cardContainer {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: fade-in 2s;
}

.experience--card {
    position: relative;
    width: 35rem;
    height: 30rem;
    overflow: hidden;
    box-shadow: 5px 2.5px 2.5px #c0c0c0;
    transition: transform .5s, box-shadow .5s;
}

.experience--card--title {
    position: absolute;
    background-color: #b19d92;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience--card--cover {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: rgb(217,214,214);
    display: flex;
    align-items: center;
    justify-content: center;
}


.experience--card--content{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    height: 90%;
    width: 100%;
}

.experience--card--content::after{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.764);
    z-index: -1;
}

.experience--card--content>p{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}


.experience::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #b19d92;
    content: "";
}