.experience{
    box-sizing: border-box;
    padding-top: 10rem;
    position: relative;
}

.experience--title{
    position: absolute;
    width: 100%;
    font-family: 'Pacifico', cursive;
    color: rgb(52, 1, 87);
    top:20rem;
    font-size: 7rem;
    z-index: 1;
    animation: shift-in 1s;
}

.experience--cardContainer {
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fade-in 1s;
}

.experience--cardContainer::after {
    flex-shrink: 0;
    content:"";
    width: 14rem;
    height: 10rem;
    display: block;
}

.experience--card {
    margin-left: 15rem;
    flex-shrink: 0;
    position: relative;
    width: 50rem;
    height: 90rem;
    overflow: hidden;
    box-shadow: 5px 2.5px 2.5px #c0c0c0;
    border-radius: 5px;
}

.experience--card--title {
    position: absolute;
    background-color: #b19d92;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.experience--card--cover {
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: rgb(217,214,214);
    display: flex;
    align-items: center;
    justify-content: center;
}


.experience--card--content{
    font-size: 2.5rem;
    position: absolute;
    top: 40%;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.experience--card--content>p{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.experience::after{
    position: absolute;
    bottom:0;
    left:0;
    content: "";
    width: 100%;
    height: 10rem;
    background-color:#b19d92;
    display: block;
}
